<!DOCTYPE html>
<html>
<head>
  <title>home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="icon" type="image/x-icon" href="../static/pics/Venture bliss-05.jpg ">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>/* styling the file upload form*/
  .form1 {
    border: 4px solid green;
    border-radius: 12px;
    padding: 55px;
    margin: 100px;
    background-color: white;
    }</style>
</head>
<header>
 <div style="background-color:	#ffffff;"> 
 <img src="{{url_for('static', filename='pics/Venture bliss-05.jpg')}}" height="220px" >  
 </div> 
<div class="navbar">
  <a href="{{ url_for('home') }}">Home</a>
   
  <div class="dropdown">
    <button class="dropbtn">Resources
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
     <a href=" ">Queries</a> 
  
  
    </div>
  </div> 
  <a href="{{ url_for('dashboard') }}">Dashboard</a>
   
   <a href=" ">Visit</a>
    <a href="{{ url_for('logout') }}" style="margin-left: 20%;">Logout</a>
    <a></a><strong style="color:rgb(5, 114, 76);">|  Logged in : {{ email}}</strong></a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert alert-warning">
    
     
      <span class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span>
     <strong> Danger!</strong>{{ message }}
  </div>
  {% else %}
  <div class="alert alert-success">
     
    <span class="closebtn" onclick="this.parentElement.style.display='none';" >&times;</span>
     <strong>Success!</strong>{{ message }}
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
</header>
<body>
<div >
  <form action="/upload" method="POST" class="form1" enctype="multipart/form-data">
    <label for="myfile">Select excel file:</label>
    <input type="file" id="myfile" name="myfile">
    <br>
    <br>
    <input class="button" type="submit" value="import file" />
  </form> 
</div>

<script>
  var timeout;

  function resetSessionTimeout() {
      clearTimeout(timeout);
      timeout = setTimeout(function() {
          window.location.href = '{{ url_for("logout") }}';
      }, 1800000);  // 30 minutes in milliseconds
  }

  // Bind the resetSessionTimeout function to various user interactions
  window.onload = resetSessionTimeout;
  document.onmousemove = resetSessionTimeout;
  document.onkeydown = resetSessionTimeout;
  document.onclick = resetSessionTimeout;
  document.onscroll = resetSessionTimeout;
</script>
</body>

</html>

