<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="icon" type="image/x-icon" href="../static/pics/Venture bliss-05.jpg">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* Add a green border to the matching password fields */
  .match {
    border-color: rgb(91, 199, 91) !important;
  }
</style>
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-warning">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong> Danger!</strong>{{ message }}
        </div>
      {% else %}
        <div class="alert alert-success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Success!</strong>{{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Register To the DCS Registration Site</h2>
      <img src="../static/pics/Venture bliss-05.jpg" height="auto" width="100%;">
    </div>
    <div>
      <ul>
       <li>Password should be at least 8 characters long</li>
       <li>Should inlude at least one number</li>
       <li>Should include at least one special character</li>
       <li>Should inlcude at least one uppercase letter and one lowercase letter</li>
       <li>Email should end with @venturebliss.co.bw or @nielsen.com</li>
        <br><br>
      </ul></div>
    <div class="row clearfix">
      <div class="">
        <form action="/register" method="POST">
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password" id="password" placeholder="Password" required />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password2" id="password2" placeholder="Re-type Password" required />
          </div>
        </div>

       

        <input class="button" type="submit" value="Register" />
      </form>
      <br>
      <br>
    </div>
  </div>
</div>

<script>
  var passwordField = document.getElementById("password");
  var password2Field = document.getElementById("password2");

  function checkPasswordMatch() {
    if (passwordField.value !== password2Field.value) {
      passwordField.classList.remove("match");
      password2Field.classList.remove("match");
    } else {
      passwordField.classList.add("match");
      password2Field.classList.add("match");
    }
  }

  passwordField.addEventListener("input", checkPasswordMatch);
  password2Field.addEventListener("input", checkPasswordMatch);
</script>

</body>
</html>